@inherits LayoutComponentBase

<div class="app-layout">
    <NavMenu />
    <main class="app-content">
        @Body
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet role="alert">
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss" aria-label="Dismiss error">🗙</span>
</div>
